<!DOCTYPE html>

<html>

{% include head.html %}

<style>
        .container {
            display: flex;
            justify-content: center;
        }
        .block {
            /*border: 1px solid #000;*/
            margin: 10px;
            padding: 10px;
        }

        .center {
            text-align: center;
        }
    
</style>
  

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>
