---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            <!--{% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}-->
            {% if page.description %}
            <div class="container_my">
                <div class="block_my">
                    <h3>{{ site.data.career.ko.title }}</h3>
                    <ul>
                        {% for item in site.data.career.ko.items %}
                        <li>{{ item.year }} {{ item.position }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="block_my">
                    <h3>{{ site.data.education.ko.title }}</h3>
                    <ul>
                        {% for item in site.data.education.ko.items %}
                        <li>{{ item.year }} {{ item.degree }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if page.description_eng %}
            <div class="container_my">
                <div class="block_my">
                    <h3>{{ site.data.career.en.title }}</h3>
                    <ul>
                        {% for item in site.data.career.en.items %}
                        <li>{{ item.year }} {{ item.position }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="block_my">
                    <h3>{{ site.data.education.en.title }}</h3>
                    <ul>
                        {% for item in site.data.education.en.items %}
                        <li>{{ item.year }} {{ item.degree }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <!--<div style="width:200px; height:150px; border:1px solid red; float:left;">
              첫번째 영역:
              왼쪽에 위치시킴 =>  float:left
              여기에 그림이나 글자 또는 광고 등을 넣음
              </div>
              <div style="width:200px; height:150px; border:1px solid green; float:left;">
              두번째 영역:
              첫번째 영역 옆에 나란히 붙임 => float:left
              여기에 그림이나 글자 또는 광고 등을 넣음
              </div>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
