---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead masthead--with-bg" style="--masthead-bg: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}'); background-image: var(--masthead-bg)">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% assign page_subheading = page.description | default: page.description_eng %}
            {% if page_subheading %}
            <span class="subheading">{{ page_subheading }}</span>
            {% endif %}
            {% if page.show_profile_summary_ko %}
            <div class="container_my">
                <div class="block_my">
                    <h3>{{ site.data.career.ko.title }}</h3>
                    <ul>
                        {% for item in site.data.career.ko.items %}
                        <li>{{ item.year }} {{ item.position }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="block_my">
                    <h3>{{ site.data.education.ko.title }}</h3>
                    <ul>
                        {% for item in site.data.education.ko.items %}
                        <li>{{ item.year }} {{ item.degree }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if page.show_profile_summary_en %}
            <div class="container_my">
                <div class="block_my">
                    <h3>{{ site.data.career.en.title }}</h3>
                    <ul>
                        {% for item in site.data.career.en.items %}
                        <li>{{ item.year }} {{ item.position }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="block_my">
                    <h3>{{ site.data.education.en.title }}</h3>
                    <ul>
                        {% for item in site.data.education.en.items %}
                        <li>{{ item.year }} {{ item.degree }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
