---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            <!--{% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}-->
            {% if page.description %}
            <div class="container">
                <div class="block">
                    <h3>경력</h3>
                    <ul>
                        <li>2015 Naver Labs 인턴</li>
                        <li>2013~2014 Microsoft Student Partner</li>
                    </ul>
                </div>
                <div class="block">
                    <h3>학력</h3>
                    <ul>
                        <li>2023 서강대학교 컴퓨터공학과 박사</li>
                        <li>2018 서강대학교 컴퓨터공학과 석사</li>
                        <li>2016 한동대학교 전산전자공학부 학사</li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <!--<div style="width:200px; height:150px; border:1px solid red; float:left;">
              첫번째 영역:
              왼쪽에 위치시킴 =>  float:left
              여기에 그림이나 글자 또는 광고 등을 넣음
              </div>
              <div style="width:200px; height:150px; border:1px solid green; float:left;">
              두번째 영역:
              첫번째 영역 옆에 나란히 붙임 => float:left
              여기에 그림이나 글자 또는 광고 등을 넣음
              </div>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
